body {
	margin: 0;
	padding: 0;
	background: #EFEFEF url(../img/main-bg.jpg) repeat;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #221D1D;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #091478;
}

a:hover {
}

.wrapper {
	padding: 0;
}

/* Logo */

.logo {
	width: 100%;
	height: 150px;
	color: #000000;
    background-color: #05457D;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    margin-bottom:40px;
}

.logo h1, #logo p {
	margin: 0;
	padding: 0;
}

.logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: lowercase;
	font-size: 3.8em;
}

.logo p {
	text-align: center;
	color: #000000;
}

.logo p a {
	color: #000000;
}

.logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #054175;
}

/* Menu */

.menu {
	overflow: hidden;
	width: 20%;
	padding: 0px 0px;
	color: #000000;
    float:left;
}

.menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: left;
}

/*.menu li {
	display: inline-block;
}*/

.menu li {
	display: block;
	padding: 15px 40px 15px 40px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 200;
	color: #000000;
	border-bottom: solid transparent;
}

.menu li a{
	color: #000000;
}

.menu li:hover, .menu .current_page_item li {
	text-decoration: none;
    border-bottom: solid #05457D;
    cursor:pointer;
}

.menu .current_page_item li {
	border-bottom: solid #05457D;
}

.menu .last {
	border-right: none;
}

/* Footer */

.footer {
	overflow: hidden;
	width: 90%;
	height: 150px;
	margin: 0 auto;
	border-top: 1px solid #D4D4D4;
    text-align: center;
}

.footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #000000;
}

.footer a {
	color: #000000;
}

.footer img {
    vertical-align: middle;
    margin: 15px;
}

.three-columns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #D4D4D4;
	color: #000000;
}

.three-columns h2 {
	padding: 0px 0px 20px 0px;
	font-size: 30px;
	color: #000000;
}

.three-columns .column1 {
	float: left;
	width: 290px;
	margin-right: 40px;
}

.three-columns .column2 {
	float: left;
	width: 290px;
}

.three-columns .column3 {
	float: right;
	width: 300px;
}

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #064C8A;
	border-radius: 10px 0px 10px 0px;
	color: #FFFFFF;
}

.link-style2 {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 25px;
	background: #064C8A;
	border-radius: 10px 0px 10px 0px;
	font-size: 20px;
	color: #FFFFFF;
}

.one-column {
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #D4D4D4;
	color: #000000;
}

.one-column h2 {
	padding: 0px 0px 20px 0px;
}

.one-column h2 a {
	color: #000000;
}

.one-column h3 a {
	text-decoration:none;
}

.one-column fieldset a {
	color: #FFFFFF;
}

.one-column fieldset li a {
	color: #000000;
}

.one-column a {
	color: #000000;
	text-decoration:underline;
}

.one-column ul {
    list-style-type: none;
}

.banner {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
}

.two-columns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
}

.two-columns .col1 {
	float: right;
	width: 640px;
	color: #000000;
}

.two-columns .col2 {
	float: left;
	width: 320px;
}

.two-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}

.two-columns .image-style {
}

.two-columns .text-style {
	padding-bottom: 10px;
	border: 10px solid #000000;
	text-align: center;
	font-size: 20px;
}

.table tr th {
	background:#064C8A;
	text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 200;
    padding: 1px 20px;
}

fieldset {
    min-height:280px;
    margin-right: 5%;
}

fieldset legend{
	font-size:120%;
    font-weight:bold;
    color: #05457D;
}

fieldset input[type=text]{
	font-size:100%;
	display:block;
	float:left;
	width:60%;
	text-align:left;
	margin:6px 20px 0px 0px;
}

fieldset input[type=file]{
	font-size:100%;
	display:block;
	float:left;
	width:60%;
	text-align:left;
	margin:6px 5px 0px 0px;
}

fieldset label{
	font-size:100%;
	display:block;
	float:left;
	width:20%;
	text-align:right;
	margin:6px 5px 0px 0px;
}

.link-style {
	float:right;
	font-size:120%;
}
